:root {
  --dark-green: #067302;
  --light-green: #19a603;
  --carrot: #f26d3d;
  --tomato: #f23005;
  --gray: #f2f2f2;
}

* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: var(--light-green);
  color: var(--gray);
}

nav {
  background-color: var(--carrot);
}

.appLogo {
  font-family: "Marck Script";
  margin-left: 10px;
  /* font-family: 'Vibur', cursive; */
}

.ourInputCard {
  background-color: var(--dark-green);
}

.ourRecipeCards {
  background-color: var(--tomato);
}

#linkToRecipe {
  text-decoration: none;
  color: var(--gray);
  font-weight: bold;
}

.card .card-reveal {
  background-color: var(--carrot);
  color: var(--gray);
  font-size: 1.25rem;
}

#banner {
  background-image: url(https://images.unsplash.com/photo-1601648764658-cf37e8c89b70?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80);
  height: 300px;
  background-size: cover;
  background-position: center;
}
